.catalog {
  display: flex;
  flex-flow: column wrap;
  padding: 32px 0px 16px;
  max-width: 1240px;
  margin: 0 auto;
  gap: 1.2rem;
}

.catalog__header {
  color: white;
  font-size: 40px;
  padding: 0 25px;
}

.catalog__categories {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0.8rem;
  max-width: 1216px;
  padding: 0 12px;
}

.catalog__categories::-webkit-scrollbar {
  display: none;
}

.catalog__categories::before,
.catalog__categories::after {
  cursor: pointer;
  align-self: center;
  position: sticky;
  background-color: var(--primary-background);
}

.catalog__categories::before {
  left: -16px;
  content: url("../img/left-arrow.svg");
}

.catalog__categories::after {
  right: -16px;
  content: url("../img/right-arrow.svg");
}

.catalog__category {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__category-link {
  font-size: 1rem;
  padding: 4px 16px;
  border-radius: 16px;
  background-color: var(--category);
  color: var(--category-text);
}
