.filter-bar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  background-color: var(--secondary-background);
  border-radius: 6px;
}

.filter-bar__filters {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}

.filter-bar__filter {
  position: relative;
  flex-grow: 1;
  background-color: var(--filter);
  border-radius: 4px;
  user-select: none;
}

.filter-bar__filter-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding: 1.1rem 16px;
  color: white;
  cursor: pointer;
}

.filter-bar__filter--active .filter-bar__popover {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.filter-bar__filter--active .filter-bar__filter-button {
  background-color: var(--active-filter);
}

.filter-bar__popover {
  margin: 0.3rem 0;
  display: none;
  position: absolute;
  background-color: var(--filter);
  width: 625px;
  border-radius: 4px;
  padding: 1rem;
  z-index: 1;
  animation: fade-in 0.15s ease;
}

.filter-bar__tags {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.8rem;
}

.filter-bar__tag {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 32px;
  border-color: rgba(255, 255, 255, 0.32);
  color: white;
  padding: 8px 16px;
  gap: 0.2rem;
  font-size: 13px;
  cursor: pointer;
}

.filter-bar__reset {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}

.filter-bar__reset-text {
  color: rgba(255, 255, 255, 0.32);
  font-size: 15px;
  font-weight: 500;
}

.filter-bar__list {
  position: relative;
  display: grid;
  padding-top: 1rem;
  column-gap: 2.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border-top: 1px solid var(--active-filter);
}

.filter-bar__list-item {
  text-decoration: none;
  color: rgba(217, 215, 224, 0.8);
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
}

.filter-bar__list-item:hover {
  color: white;
}

@keyframes fade-in {
  from {
    top: 110%;
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    top: 100%;
    opacity: 1;
  }
}
