.header {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.header::after {
  background-color: rgba(255, 255, 255, 0.12);
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  content: "";
  position: absolute;
}

.header__left {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.header__hamburger-button {
  display: none;
  padding: 0.7rem 0;
}

.header__logo {
  padding: 0.7rem 0;
}

.header__tabs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.header__tab-link {
  color: var(--text);
}

.header__tab-link:hover {
  color: white;
}

.header__right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 1.5rem;
}

.header__search {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 0.4rem;
}

.header__search-input {
  border: 0;
  background-color: transparent;
  outline: none;
  width: auto;
  border-bottom: 1px solid var(--red);
  font-size: 1rem;
  color: var(--text);
}

::placeholder {
  color: var(--text);
  font-weight: bold;
}
.header__profile {
  display: flex;
  align-items: center;
}
.header__profile-button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.32);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

@media (max-width: 800px) {
  /* body {
    max-width: 776px;
  } */
  .header__hamburger-button {
    display: flex;
    background-color: var(--hamburger-color);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    border: none;
    width: 48px;
    height: 48px;
  }
  .header__tabs {
    display: none;
  }
  .header__left {
    gap: 0.5rem;
  }
}
