.persons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1.4rem;
}

.person-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 154px;
  cursor: pointer;
}

.person-card__photo {
  overflow: hidden;
  width: 154px;
  height: 154px;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--secondary-background);
}

.person-card__person-text {
  color: var(--text);
}

@media (max-width: 900px) {
  .person-card {
    flex-basis: 172px;
  }
  .person-card__photo {
    width: 172px;
    height: 172px;
  }
}

@media (max-width: 600px) {
  .persons {
    gap: 1rem;
  }

  .person-card {
    flex-basis: 112px;
  }
  .person-card__photo {
    width: 112px;
    height: 112px;
  }
}
