.search {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 1.5rem 0;
  gap: 1rem;
}

.search__body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: start;
  gap: 1.5rem;
}
