:root {
  --red: #ff0f52;
  --primary-background: #100e19;
  --secondary-background: #1f1b2e;
  --category: #352f4b;
  --category-text: #a5a1b2;
  --filter: #312b45;
  --active-filter: #7e798f;
  --inactive-filter: #252035;
  --genres: #231f34;
  --text: #d9d7e0;
  --icon-inner-color: #7e798f;
  --icon-outer-color: var(--red);
  --hamburger-color: #ea0042;
}
